name: Deploy

on:
  push:
    branches:
      - main
  # pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm i

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: "latest"

      - uses: supplypike/setup-bin@v4
        with:
          uri: "https://github.com/lzanini/mdbook-katex/releases/download/0.9.0-binaries/mdbook-katex-v0.9.0-x86_64-unknown-linux-gnu.tar.gz"
          name: "mdbook-katex"
          version: "0.9.0"

      - uses: supplypike/setup-bin@v4
        with:
          uri: "https://github.com/badboy/mdbook-toc/releases/download/0.14.2/mdbook-toc-0.14.2-x86_64-unknown-linux-gnu.tar.gz"
          name: "mdbook-toc"
          version: "0.14.2"

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          preCommands: mdbook build && ls && ls book && ls book/data
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
